<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Verifiable Credentials Service</title>
    <link rel="stylesheet" href="https://gobberr.github.io/public-pairing-scripts/main.css">
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <script src="https://gobberr.github.io/public-pairing-scripts/umd.js" type="text/javascript"></script>
    <script src="https://gobberr.github.io/public-pairing-scripts/umd-api.js" type="text/javascript"></script>
    <script src="https://gobberr.github.io/public-pairing-scripts/wallet-protocol-utils.umd.js" type="text/javascript"></script>    
  </head>
  <body>
    <div class="login-card">
      <h3><%= title %></h3>
      <%- body %>
    </div>
    
  </body>
</html>