
<label><span id='session-state'></span></label>
<br>
<label><span id='identity-state'></span></label>
<br>
<label><span id='credential-state'></span></label>
<br>
<label><span id='wallet-state'></span></label>
<br>


<script>    
    // decode credential from base64
    var txt = document.createElement("textarea");
    txt.innerHTML = "<%= credential %>";
    credential = txt.value
    console.log(credential)

    // decode callbackUrl from base64
    var txt2 = document.createElement("textarea");
    txt2.innerHTML = "<%= callbackUrl %>";
    callbackUrl = txt2.value
    console.log(callbackUrl)

    // decode backplaneContextPath from base64
    var txt2 = document.createElement("textarea");
    txt2.innerHTML = "<%= backplaneContextPath %>";
    backplaneContextPath = txt2.value
    console.log(backplaneContextPath)
    
    // GET identities from the wallet
    // document.getElementById('message-box1').innerHTML += '1.  Identity retrieving... Select it in the wallet. ';

</script>
<script src="https://gobberr.github.io/public-pairing-scripts/main.js" type="text/javascript"></script>